body {
  margin: 0px;
}

.chat-app-page-container {
  padding: 5px;

  background-color: rgba(151, 149, 149, 0.199);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .chat-app-page-container {
    padding: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .chat-app-page-container {
    padding: 20px;
  }
}

.chat-app-introduction-section {
  background-color: #121110;
}
.chat-app-introduction-section .chat-app-navbar-container {
  display: flex;
  justify-content: space-between;
}
.chat-app-introduction-section .chat-app-navbar-icon {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  font-family: "Abril Fatface", cursive;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .chat-app-introduction-section .chat-app-navbar-icon {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-introduction-section .chat-app-navbar-icon {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-introduction-section .chat-app-navbar-icon {
    margin-top: 3%;
    margin-left: 10%;
    font-size: 32px;
  }
}
.chat-app-introduction-section .chat-app-navbar-navigation-container {
  margin-top: 20px;
  margin-right: 20px;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .chat-app-introduction-section .chat-app-navbar-navigation-container {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-introduction-section .chat-app-navbar-navigation-container {
    margin-top: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-introduction-section .chat-app-navbar-navigation-container {
    margin-top: 3%;
    margin-right: 10%;
  }
}
.chat-app-introduction-section .chat-app-navbar-link {
  margin-right: 20px;
  padding: 5px;
  color: white;
  background: url("../../Assets/Images/blue-rectangle.png");
  background-repeat: no-repeat;
  background-size: 30px 7px;
  background-position: 90% 80%;
  text-decoration: none;
  font-size: 14px;
  font-family: "Abril Fatface", cursive;
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-introduction-section .chat-app-navbar-link {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-introduction-section .chat-app-navbar-link {
    font-size: 24px;
  }
}
.chat-app-introduction-section .chat-app-navbar-button {
  padding: 5px;
  border: none;
  color: white;
  cursor: pointer;
  background: url("../../Assets/Images/blue-rectangle.png");
  background-repeat: no-repeat;
  background-size: 60px 7px;
  background-position: 90% 80%;
  font-size: 14px;
  font-family: "Abril Fatface", cursive;
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-introduction-section .chat-app-navbar-button {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-introduction-section .chat-app-navbar-button {
    font-size: 24px;
  }
}
.chat-app-introduction-section .chat-app-developer-description-container {
  margin-left: 5%;
  margin-right: 5%;
}
@media only screen and (min-width: 1440px) {
  .chat-app-introduction-section .chat-app-developer-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.chat-app-introduction-section .chat-app-introduction-heading {
  text-align: center;
  color: white;
  margin-top: 50px;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
}
.chat-app-introduction-section .chat-app-introduction-title {
  color: white;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .chat-app-introduction-section .chat-app-introduction-title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-introduction-section .chat-app-introduction-title {
    font-size: 56px;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-introduction-section .chat-app-introduction-title {
    font-size: 72px;
  }
}
.chat-app-introduction-section .chat-app-introduction-description {
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0px;
  font-family: "Mulish", sans-serif;
  text-align: center;
}
@media only screen and (min-width: 1440px) {
  .chat-app-introduction-section .chat-app-introduction-description {
    width: 700px;
  }
}
.chat-app-introduction-section .chat-app-visit-live-site-button-container {
  text-align: center;
  padding-bottom: 30px;
  margin-top: 50px;
}
.chat-app-introduction-section .chat-app-visit-live-site-button {
  font-size: 18px;
  padding-right: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background: url("../../Assets/Images/blue-rectangle.png");
  background-repeat: no-repeat;
  background-size: 50px 10px;
  background-position: 90% 90%;
}

.chat-app-website-example .chat-app-website-image-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.chat-app-website-example .chat-app-website-image {
  width: 90%;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .chat-app-website-example .chat-app-website-image {
    width: 90%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-website-example .chat-app-website-image {
    width: 95%;
  }
}
.chat-app-footer {
  background-color: #121110;
  margin: 5px;
}
@media only screen and (max-width: 1023px) {
  .chat-app-footer {
    display: none;
  }
}
.chat-app-footer .chat-app-footer-divider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  .chat-app-footer .chat-app-footer-divider {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-footer .chat-app-footer-left-side {
    width: 100%;
    margin-left: 5%;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-footer .chat-app-footer-left-side {
    width: 100%;
    text-align: left;
    margin-left: 10%;
  }
}
.chat-app-footer .chat-app-footer-heading {
  font-family: "Abril Fatface", cursive;
  color: white;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-footer .chat-app-footer-heading {
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-footer .chat-app-footer-heading {
    text-align: left;
    font-size: 56px;
  }
}
.chat-app-footer .chat-app-footer-heading-span {
  padding-right: 5px;
  background: url("../../Assets/Images/blue-rectangle.png");
  background-repeat: no-repeat;
  background-size: 80px 20px;
  background-position: 82% 80%;
}
.chat-app-footer .chat-app-copyright-statement {
  color: white;
  margin-top: 50px;
  text-align: center;
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-footer .chat-app-copyright-statement {
    text-align: left;
    font-size: 10px;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-footer .chat-app-copyright-statement {
    text-align: left;
    font-size: 10px;
    margin-top: 150px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-footer .chat-app-footer-right-side {
    width: 100%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-footer .chat-app-footer-right-side {
    width: 100%;
    margin-right: 10%;
  }
}
.chat-app-footer .chat-app-footer-website-example-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Mulish", sans-serif;
  color: white;
  margin-top: 30px;
  text-align: center;
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-app-footer .chat-app-footer-website-example-description {
    text-align: left;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .chat-app-footer .chat-app-footer-website-example-description {
    text-align: left;
    margin-top: 70px;
    line-height: 50px;
  }
}
.chat-app-footer .chat-app-footer-description-span {
  padding-right: 10px;
  background: url("../../Assets/Images/blue-rectangle.png");
  background-repeat: no-repeat;
  background-size: 275px 10px;
  background-position: 90% 100%;
}

.chat-app-footer-mobile {
  background-color: #121110;
}
@media only screen and (min-width: 1024px) {
  .chat-app-footer-mobile {
    display: none;
  }
}
.chat-app-footer-mobile .chat-app-footer-divider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-app-footer-mobile .chat-app-footer-heading {
  font-family: "Abril Fatface", cursive;
  color: white;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .chat-app-footer-mobile .chat-app-footer-heading {
    background-size: 80px 20px;
    background-position: 75% 85%;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .chat-app-footer-mobile .chat-app-footer-heading {
    background-size: 80px 20px;
    background-position: 72% 85%;
  }
}
.chat-app-footer-mobile .chat-app-footer-heading-span {
  padding-right: 5px;
  background: url("../../Assets/Images/blue-rectangle.png");
  background-repeat: no-repeat;
  background-size: 80px 15px;
  background-position: 82% 90%;
}
.chat-app-footer-mobile .chat-app-footer-website-example-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Mulish", sans-serif;
  color: white;
  margin-top: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5%;
}
.chat-app-footer-mobile .chat-app-footer-description-span {
  padding-right: 10px;
  background: url("../../Assets/Images/blue-rectangle.png");
  background-repeat: no-repeat;
  background-size: 275px 10px;
  background-position: 100% 95%;
}
.chat-app-footer-mobile .chat-app-copyright-statement {
  color: white;
  margin-top: 50px;
  text-align: center;
  font-size: 10px;
}
